/* Background: #141414; Main Color: #ff9613; Secondary Color: #f5e2c9; Text Colour: #ebe6de;*/

* {
    color: #EBE6DE;
    font-family: 'Montserrat', serif;
}

h2 {
    color: #ff9613;
    font-family: 'Climate Crisis';
    font-size: 40px;
}

body {
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #141414;
}



/* top navbar styles */
.topnavbar {
    background-color: #333333d7;
    overflow: hidden;
    display: flex;
    align-items: right;
    padding: 25px;
    z-index: 2;
}

.topnavbar img {
    width: 50px;
    height: 50px;
    background-color: #333333;
    margin-bottom: 0%;
}
.topnavbar a {
    align-items: right;
    z-index: inherit;
}

.topnavbar a:hover {
    background-color: #616161f3;
}

.topnavlinks {
  display: flex;
}

.topnavlinks a {
    color: #FFFFFF;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    justify-content: flex-end;
}

.topnavlinks a:hover {
    background-color: #555555;
}

/* homepage styles */

.parallax-effect {
    background-image: url('bg.png');
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
.header {
    font-size: 32px;
    font-weight: bold;
    margin-top: 150px;
    color: #ff9613;
  }
  
  .subheader {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 40px;
    color: rgb(198, 197, 197);
    display: block;
  }

.roundbutton {
    background-color: #AAAAAA;
    color: #FFFFFF;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    margin-top: 30px;
}

.roundbutton:hover {
    background-color: #CCCCCC;
    cursor: pointer;
}

.username-input {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.username-input input[type="text"] {
    border-radius: 25px;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #ccc;
    color: #333;
    width: 300px;
    max-width: 100%;
}

.username-input input[type="submit"] {
    background-color: #ff9513f9;
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 18px;
}

.username-input input[type="submit"]:hover {
    background-color: #ff9513d0;
}

.information-right {
    text-align: right;
    padding: 15% 20px 15% 55%;
}

footer {
    text-align: right;
    padding: 10px 15px 10px 10px;
    font-size: x-small;
}

.whitespace {
    line-height: 150px;
}

.nounderline {
    text-decoration-style: none;
}

.username-input {
    size: 95vw;
}

/* nice animations*/

.hidden {
    opacity: 0;
    transition: all 3s;
    filter: blur(5px);
    transform: translateX(-100%);
    text-align: center;
    padding: 50px 40px 50px 40px;
}

.show {
    opacity: 1;
    text-align: center;
    filter: blur(0);
    transform: translateX(0);
    padding: 50px 40px 50px 40px;
}

/* uwu error box */
.error-box {
    background-color: #ff951344;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 16px;
    display: none; 
  }
  .error-box:before {
    content: "ERROR | "; 
  }
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
